@media {
    body {
        font-family: Arial;
        margin: 0;
        overflow: hidden;
    }

    @media (prefers-color-scheme: dark) {
        body[theme="auto"] {
            background: #0f0f0f;
            color: #f0f0f0;
        }
    }

    body[auth]:not([auth="false"]) [auth="true"] {
        display: none;
    }

    body[auth]:not([auth="true"]) [auth="false"] {
        display: none;
    }

    body:not([auth]) [auth="true"] {
        display: none;
    }
}

@media {
    block, card, box {
        display: flex;
        flex-direction: column;
    }

    column, flex, row {
        display: flex;
    }

    page:not(.active) {
        display: none;
    }
}
