body {
    background: black;
    color: white;
    font-size: 144px;
    margin: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

body:before {
    content: attr(frame);
}
